<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>App</title>
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
    <main class="container">
      <h1>Test easy way</h1>
      <article class="jumbotron">
        <h2>Dummy page</h2>
        <p>Utilize essa página como base!</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Apenas um botão</a></p>
      </article>
    </main>
    <script src="vendor/jquery/dist/jquery.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.js" async></script>
    <script src="js/app.js" async></script>
  </body>
</html>
